body, html {
    height: 100%;
}

body {
    margin: 0px;
    overflow: hidden; /* Disable scrollbars */
    background-color: black;
}

#gl-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

